.navigation {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed; 
    top: 0;
    z-index: 1000; 
    padding: 0.5rem 0rem;
    background: var(--wbackground);
    color: var(--primary);
    box-shadow: 0 0.5px 0.5px 0.5px rgba(93, 93, 93, 0.23);
}
.brand-name {
    text-decoration: none;
    color: var(--primary);
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 12rem;
}
.navigation-menu {
    margin-left: auto;
}
.navigation-menu ul {
    display: flex;
    padding: 0;
    margin-right: 12rem;
}
.navigation-menu li {
    list-style-type: none;
    margin-left: 2rem;
}
.navigation-menu li a {
    text-decoration: none;
    color: var(--foreground);
    font-size: 1rem;
    font-weight: 500;
    display: block;
    width: 100%;
}
.hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: var(--primary);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 2.5rem;
    transform: translateY(-50%);
    display: none;
}
.hamburger:hover {
    background-color: var(--secondary);
}
    @media screen and (max-width: 768px) {
        .navigation {
            width: 100%;
        }
        .brand-name{
            margin-left: 1rem;
        }
        .hamburger {
            display: block;
            right: 1rem;
        }
        .navigation-menu ul {
            position: absolute;
            top: 55px;
            left: 0;
            flex-direction: column;
            width: 100%;
            height: calc(100vh - 77px);
            background-color: white;
            border-top: 2px solid var(--gbackground);
            display: none;
        }
        .navigation-menu.expanded ul {
            display: block;
        }
        .navigation-menu li {
            text-align: center;
            margin: 0;
        }
        .navigation-menu li a {
            color: black;
            width: 100%;
            padding: 1.5rem 0;
        }
        .navigation-menu li:hover {
            background-color: #eee;
        }
    }