.search-bar {
  background-color: var(--wbackground);
  height: 70px;
  margin-bottom: 2%;
  box-shadow: 0px 2px 16px #E5EAF2;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.search-input {
  padding: 5px;
  display: flex;
  align-items: center;
  flex: 1;
  border: 2px solid var(--gbackground);
  border-radius: 12px;
}

.search-input:focus-within {
  border-color: var(--primary);
}

.search-input input {
  border: none;
  outline: none;
  width: 100%;
  font-family: Poppins, sans-serif;
  padding: 5px;
}

.search-icon {
  margin: 0 5px;
  color: var(--dgbackground);
  height: 20px;
}

.dropdown {
  display: inline-block;
  position: relative;
  width: 250px;
  margin-left: 10px;
}

.dropdown-labeltext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: Poppins, sans-serif;
  font-size: 14px;
  color: #585858;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid var(--gbackground);
  border-radius: 12px;
  outline: none;
  font-family: Poppins, sans-serif;
  appearance: none;
  background: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'><path fill='%231e4155' d='M6 9.25L2.22 5.47a.75.75 0 011.06-1.06L6 7.19l2.72-2.78a.75.75 0 111.06 1.06L6 9.25z'/></svg>")
    no-repeat calc(100% - 20px) center;
}

.dropdown.active .dropdown-labeltext {
  border-color: var(--primary);
}

.filter-options {
  position: absolute;
  top: calc(100% + 25px);
  left: 0;
  background-color: #fff;
  border: 2px solid var(--gbackground);
  border-radius: 12px;
  width: 100%;
  z-index: 1;
  font-size: 15px;
  max-height: 250px;
  overflow-y: auto;
}

.filter-options div {
  padding: 10px;
}

.filter-options input {
  margin-right: 8px;
}

@media (max-width: 768px) {
  .search-input {
    width: calc(100% - 15px);
  }
  .dropdown {
    width: 150px;
  }
}
