/* Default styles for larger screens */
.App {
    text-align: center;
    background-color: #f0f0f0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #333;
    background-color: white;
  }
  
  header {
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-top: 60px;
    background-image: url('/public/images/banner_image.png');
    background-size: cover;
    background-position: center;
  }
  
  h1 {
    font-size: 1.8em; /* Adjusted font size for the main header */
  }
 
  .table{
    margin: 3%;
  }

  @media (max-width: 768px) {
    .table {
      margin: 0;
    }
}